<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/npcs.css">
    <script src="static/audioplayer.js"></script>
    <title>ZR Encyclopedia - NPC Encyclopedia</title>
</head>
<body>
    <i><a href="/TF2-Zombie-Riot/">Back to home</a></i>
    <div class="music_bg hidden">
        <div id="music_title"></div>
        <div class="flex_break"></div>
        <div id="music_player"></div>
    </div>
    npcdata
</body>
</html>