<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZR Encyclopedia - Redirect</title>
    <!--<meta content="ZR Encyclopedia - WAVESETNAME" property="og:title"/>
    <meta content="WAVESETDESC" property="og:description"/> -->
    <meta content="https://squarebracket-s.github.io/tf2_zr_wikigen/waveset_viewer.html?w=WAVESETFILENAME.json&wv=WAVENUM" property="og:url"/>
    <meta content="https://squarebracket-s.github.io/tf2_zr_wikigen/waveset_embeds/WLINK.jpg" property="og:image" content="2048"/>
    <link rel="stylesheet" href="static/style.css"><meta http-equiv="Refresh" content="0; url='https://squarebracket-s.github.io/tf2_zr_wikigen/waveset_viewer.html?w=WAVESETFILENAME.json&wv=WAVENUM'" />
</head>
</html>