<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/items.css">
        <title>ZR Encyclopedia - ZR: wavesetlistname</title>
    </head>
    <body>
        <i style="margin-bottom: 2em;display: block;"><a href="/TF2-Zombie-Riot/">Back to home</a></i>
        <h1>ZR: wavesetlistname</h1>
        Starting cash: <div class="money" style="margin-bottom:1em;">startcash</div>
        wavesetlistdata
    </body>
</html>