# Byte-compiled / optimized / DLL files
__pycache__/

# Local testing
.obsidian/
venv/
TF2-Zombie-Riot/

# NOTE unused premedia icons in tf2_zr_wikigen archive
premedia_icons_unused/

npc_data.json
npc_data_01.json
npc_data_02.json
*.cfg 
 
gh-pages/*
gh-pages/index.html
!gh-pages/static/
!gh-pages/builtin_img/
!gh-pages/premedia_icons/
!gh-pages/waveset_viewer.html
!gh-pages/multipliers.html

logs.txt
run_rogue.sh
# only ignore json in root dir
/*.json