# Byte-compiled / optimized / DLL files
__pycache__/

# Local testing
.obsidian/
venv/
TF2-Zombie-Riot/

repo_img/
premedia_icons_unused/

/*.html
npc_data.json
npc_data_01.json
npc_data_02.json
*.cfg 

gh-pages/*
gh-pages/index.html
!gh-pages/static/
!gh-pages/waveset_viewer.html