# Byte-compiled / optimized / DLL files
__pycache__/

# Local testing
.obsidian/
.github/workflows/act.yml
venv/
TF2-Zombie-Riot/
decompiled/

# Generating thumbnails of TF2 models
# Exclude everything but the bodygroup mappings
tf_decompiled/*.mtl
tf_decompiled/*.obj
tf_decompiled/*.qc
tf_decompiled/*.smd
tf_decompiled/*/
models/

# NOTE unused premedia icons in tf2_zr_wikigen archive
premedia_icons_unused/

npc_data.json
npc_data_01.json
npc_data_02.json
*.cfg 
 
gh-pages/*
!gh-pages/static/
!gh-pages/builtin_img/
!gh-pages/premedia_icons/
!gh-pages/tf_icons/
!gh-pages/lib/

!gh-pages/waveset_viewer.html
!gh-pages/multipliers.html
!gh-pages/skilltree.html
!gh-pages/items.html
!gh-pages/items_legacy.html

logs.txt
run_rogue.sh
# only ignore json in root dir
/*.json
*.exe