beautifulsoup4==4.14.3
certifi==2026.4.22
charset-normalizer==3.4.7
idna==3.13
pillow==12.2.0
requests==2.33.1
ruamel.yaml==0.19.1
soupsieve==2.8.3
typing_extensions==4.15.0
urllib3==2.6.3
vdf==3.4
vtf2img==0.1.0