<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/music.css">
        <script src="static/audioplayer.js"></script>
        <script src="static/morecolors.js"></script>
        <title>ZR Encyclopedia - Music list</title>
    </head>
    <body>
        <i><a href="/TF2-Zombie-Riot/">Back to home</a></i>
        <div class="music_bg hidden">
            <div id="music_title"></div>
            <div class="flex_break"></div>
            <div style="display:flex;">
                <div class="setting">
                    <input type="checkbox" onchange="playlist_mode=this.checked;" autocomplete="off">
                    <label style="margin-left:1em;">Autoplay</label>
                </div>
                <div class="setting">
                    <input type="checkbox" onchange="shuffle=this.checked;" autocomplete="off">
                    <label style="margin-left:1em;">Shuffle</label>
                </div>
            </div>
            <div class="flex_break"></div>
            <div id="music_player"></div>
        </div>
        musicdata
        <div style="margin-bottom:15em;"></div> <!--temp fix -->
    </body>
</html>