@import url("style.css");
/* Wavesets */
#wavesetname {
    margin-bottom: .25em;
}
#waveset_info {
    margin: 2em;
}

.waveset_bg {
    margin-top: 2em;
    /*padding-bottom: 1.5em; */ /* normal */
    padding-bottom: 2.5em; /* adjusted for wave npc count */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center; */ /* align vertically */

    background-color: #26292b;
    border: solid var(--text-dark) 3px;
    border-radius: 5px;
}

#wave_progress_bar {
    width: 80%;
    height: 25px;
    background: var(--ivory);
    border-radius: 5px;
    border-color: var(--deep-space-blue);
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    margin: 5px;
}

#wave_progress_bar div {
    background: var(--link-dark);
    margin-left: 2px;
    margin-right: 2px;
    width: 0%; /* 2.5% => Wave 1 (1/40 * 100) */
    height: 85%;
    border-radius: 5px 0px 0px 5px;
    z-index: 1;
    transition: 0.5s;
}

.wave_btn {
    font-family: "Oswald";
    background-color: #181a1b;
    color: var(--text-dark);
    border: solid var(--text-dark) 1px;
    display: flex;
    align-items: center;
    align-self: center;
    margin: 5px;
    padding: 5px;
    height: 15px;
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
}

.wave_btn:hover {
    background-color: #333333;
}

.wave_npc {
    width: 48px;
    height: 48px;
    background-color: var(--ivory);
    border-radius: 5px;

    margin: 5px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    word-wrap:normal;
}

.wave_npc img {
    width: 90%;
    height: 90%;
    pointer-events: none;
}

.divider {
    width: 3px;
    background-color: #cbc7c0;
    border-radius: 5px;
    margin: 5px;
}

#npc_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
}

#support_npc_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* this is the cause of the bandaid fix below, I couldn't find any other way to fix it */
     /* if support npc is a single one this goes over the divider. manually fixed in waves.js */
}

#wave_music_container {
    margin-top: 25px;
    margin-bottom: 15px;
}

.tooltip {
    z-index: 1;
    top: 105%;
    opacity: 0;
    position: absolute;
    transition: 0.25s;
    pointer-events: none;

    background-color: var(--bg-dark);
    border: 1px var(--text-dark) solid;

    width: max-content;
    text-align: center;

    padding: 25px;
}

.wave_npc:hover .tooltip, .wave_npc:focus .tooltip { /* focus for clicking and selecting music in npc desc */
    opacity:1;
    top: 115%;
}

.wave_npc:focus .tooltip { /* on click */
    pointer-events: all;
    cursor: auto;
}

/* TOOLTIP ALIGNMENTS  ======================== */
.notr-default {
    transition: none !important;
    top: 105% !important;
    opacity: 0 !important;
}

/* Rightbound tooltip */
.tooltip_toright {
    top: -50%;
    left: 105%;
}
.wave_npc:hover .tooltip_toright, .wave_npc:focus .tooltip_toright {
    top: -50%;
    opacity:1;
    left: 115%;
}
.notr-right {
    transition: none !important;
    top: -50% !important;
    left: 105% !important;
    opacity: 0 !important;
}
/* Leftbound tooltip */
.tooltip_toleft {
    top: -50%;
    right: 105%;
}
.wave_npc:hover .tooltip_toleft, .wave_npc:focus .tooltip_toleft {
    top: -50%;
    opacity:1;
    right: 115%;
}
.notr-left {
    transition: none !important;
    top: -50% !important;
    right: 105% !important;
    opacity: 0 !important;
}
/* ================================================ */

.wave_npc_count {
    position: absolute;
    top: 48px;
    margin-top: 1px;
}

/* css flags (flashing background, red bg, etc.) */
@keyframes blink {
    0%,
    100% {
        background-color: #cb2402;
    }

    50% {
        background-color: var(--ivory);
    }
}
.flag_mission { /* basically unused, I think this is for random events */
    animation: blink 1s infinite;
    animation-timing-function: step-end
}
.flag_miniboss {
    background-color: #cb2402;
}
.flag_crits {
    outline-width: 2px;
    outline-color: #2699ad;
    outline-style:solid;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number] {
    margin-left: 5px;
    field-sizing: content;
    border: 0px;

    /* .btn styling */
    background-color: #26292b;
    color: var(--text-dark);
    user-select: none;
    cursor: pointer;

    /* font */
    font-size: 1em;
    font-weight: 500;
    font-family: "Oswald";

    /* center number */
    text-align: center;
}

/* Audio */
#music_title {
    text-transform: capitalize;
}

.audio {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.audio * { /* clicks go through to parent of music modal content */
    pointer-events: none;
}

.audio img {
    height: 16px;
    width: auto;
    margin-right:5px;
}

.audio:hover {
    background-color: rgba(255,255,255,0.5);
    color: var(--ivory);
}

audio {
    margin-top: 10px;
}

/* tooltip audio */
.tooltip .audio img {
    height: 16px;
    width: auto;
    margin-right:5px;
}

.tooltip .audio {
    display: flex;
    justify-content: center;
    align-items: center;
}
