<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        <title>ZR Encyclopedia - Home</title>
    </head>
    <body>
        <h1>TF2 Zombie Riot Wiki</h1>
        <h2>General</h2>
        <ul>
            <li><a href="items.html">Items</a></li>
            <li><a href="npcs.html">NPC Encyclopedia</a></li>
            <li><a href="music_list.html">Music list</a></li>
            <li><a href="skilltree.html">Skilltree</a></li>
        </ul>

        <h2>Gamemodes</h2>
        <ul>
            <li><a href="survival.html">ZR: Survival</a></li>
            <li><a href="raidrush.html">ZR: Raidrush</a></li>
            <li><a href="special.html">ZR: Special Maps</a></li>
            <li><a href="rogue.html">ZR: Rogue</a></li>
            <li><a href="construction.html">ZR: Construction</a></li>
        </ul>
        <a href="multipliers.html"><sub class="secondary">What do the icons mean?</sub></a>
        <br><br>
        parse_run
    </body>
</html>