@import url("style.css");

/* Not updated =================================== */
#taglist {
    display: flex;
    width: 100%;
    padding: 10px;
    flex-wrap:wrap;
}

/* Blocks =================================== */
.block {
    background-color: #26292b;
    border: solid var(--text-dark) 3px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 2em;
}

.block .block {
    margin: 2em;
}

.block h1 {
    padding-left: .75em;
}
.block-desc_container {
    margin-left: 2em;
    padding-left: .75em;
    margin-bottom: 15px;
    border-left: 5px #333333 solid;
}



/* Item grid =================================== */
.item_grid {
    width:auto; /* empty */
    margin-bottom: .5em;
    margin-left: 1em;
    margin-right: 1em;
}
.item_instance {
    display: inline-flex;
    justify-content: center;
    align-content: center;

    width: 64px;
    height: 64px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: solid var(--text-dark) 2px;
    background-color: #282828;

    /* Tooltips */
    position: relative;
    text-decoration: none;
}
.item_instance:hover {
    background-color: #333333;
}

/* Icons ------------------------------------- */
.item_icon {
    width: inherit;
    height: inherit;
    pointer-events: none;
}

.kit_icon_container {
    position: relative;
    width: 64px;
    pointer-events: none;
}

.kit_icon {
    position: absolute;
    width: 64px;
    height: 64px;
}

/* Tooltips =================================== */
.item_tooltip {
    z-index: 2;
    top: 105%;
    opacity: 0;
    position: absolute;
    transition: 0.25s;
    pointer-events: none;

    background-color: var(--bg-dark);
    border: 1px var(--text-dark) solid;

    width: max-content;
    text-align: center;

    padding: 25px;
}

.item_instance:hover .item_tooltip {
    opacity:1;
    top: 115%;
}

/* Rightbound tooltip */
.item_tooltip_toright {
    top: -50%;
    left: 105%;
}
.item_instance:hover .item_tooltip_toright {
    top: -50%;
    opacity:1;
    left: 115%;
}
/* Leftbound tooltip */
.item_tooltip_toleft {
    top: -50%;
    right: 105%;
}
.item_instance:hover .item_tooltip_toleft {
    top: -50%;
    opacity:1;
    right: 115%;
}

/* Tooltip styling */
.item_tooltip h2 {
    margin: 0;
}

/* Attributes ------------------------------------- */
.attribute_container {
    background-color: #26292b;
    padding: 5px;
    margin-top: 5px;
}

.attribute_container .positive {
    color: #99CCFF
}

.attribute_container .negative {
    color: #FF4040
}

/* Item misc ------------------------------------- */
.item_notice {
    margin-top: 15px;
}

.item_price {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(83, 123, 22, 50%);
    border-radius:5px;
    color: #ffffff;
    pointer-events: none;
}

/* Item linking ------------------------------------- */
.highlight {
    animation: highlight 1s infinite ease-in-out;
    z-index: 1;
}
@keyframes highlight {
    0% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(250%); /* 2.5x */
    }
}

/* Modals =================================== */
/* Main modal container (Title + SW container) */
.modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 50%);
}
/* Disable scroll on main page while modal is open */
body:has(.modal) {
    overflow: hidden; /* TODO Prevents weapon links scrolling to weapon while subweapon modal is open */
}

/* Subweapon view ------------------------------------- */
.subweapon_modal_content {
    position: relative;
    margin: 25px;
    margin-bottom: 0;
}
.subweapon_modal_content h1 {
    margin-bottom: 10px;
}
.subweapon_modal_content .close_button {
    position: absolute;
    right: 0;
    top: 0;

    background-color:#26292b;
    border:var(--text-dark) solid 1px;
    padding: 5px;

    width: 35px;
    height: 35px;

    cursor: pointer;
}
/* Subweapon container (canvas) */
.subweapon_container {
    --margin: 25px;
    --border-width: 1px;
    position: relative;
    background-color:#26292b;
    border:var(--text-dark) solid 1px;

    border-width: var(--border-width);
    margin-left: var(--margin);
    width: calc(100% - (var(--margin) * 2 + var(--border-width) * 2)); /* 25px*2 + account for 1px*2 border */
    height: calc(100% - (125px + var(--border-width) * 2));
}

/* Search modal ------------------------------------- */
/* Structure 
.modal: Covers whole page, dims stuff behind
.search_modal_container Flex Container
.search_modal_content
*/
.modal:has(.search_modal_content) {
    display: flex;
    justify-content: center;
}

.search_modal_container {
    position: relative;
    display: flex;
    justify-content: center;

    width: 100%;
    margin-right: 8px;
    margin-top: calc(100vh * 0.4);
}
.search_modal_content {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height:fit-content;
    width: 65%;
}
input[type=search] {
    align-self:flex-start; /* no stretching */
    width: 100%;

    border: 0px;
    outline: none;
    font-size: 32px;

    /* Icon */
    background-image: url("search.svg");
    background-size: calc(32px - 3px);
    background-repeat: no-repeat;
    background-position: 10px center;

    /* .btn styling */
    background-color: var(--bg-dark);
    color: var(--text-dark);
    border: 1px var(--text-dark) solid;
    padding: 10px;
    padding-left: calc(32px + 17px);
    margin: 5px;
    user-select: none;
    cursor: text;
}

.search_modal_results {
    justify-self:baseline;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;

    background-color: var(--bg-dark);
    color: var(--text-dark);
    border: 1px var(--text-dark) solid;
    padding: 10px;
    margin: 5px;
    height:fit-content;
}
.search_modal_results:empty {
    padding: 0;
    border: 0;
}