.mc_aliceblue { color: #F0F8FF; }
.mc_allies { color: #4D7942; }
.mc_ancient { color: #EB4B4B; }
.mc_antiquewhite { color: #FAEBD7; }
.mc_aqua { color: #00FFFF; }
.mc_aquamarine { color: #7FFFD4; }
.mc_arcana { color: #ADE55C; }
.mc_axis { color: #FF4040; }
.mc_azure { color: #007FFF; }
.mc_beige { color: #F5F5DC; }
.mc_bisque { color: #FFE4C4; }
.mc_black { color: #000000; }
.mc_blanchedalmond { color: #FFEBCD; }
.mc_blue { color: #99CCFF; }
.mc_blueviolet { color: #8A2BE2; }
.mc_brown { color: #A52A2A; }
.mc_burlywood { color: #DEB887; }
.mc_cadetblue { color: #5F9EA0; }
.mc_chartreuse { color: #7FFF00; }
.mc_chocolate { color: #D2691E; }
.mc_collectors { color: #AA0000; }
.mc_common { color: #B0C3D9; }
.mc_community { color: #70B04A; }
.mc_coral { color: #FF7F50; }
.mc_cornflowerblue { color: #6495ED; }
.mc_cornsilk { color: #FFF8DC; }
.mc_corrupted { color: #A32C2E; }
.mc_crimson { color: #DC143C; }
.mc_cyan { color: #00FFFF; }
.mc_darkblue { color: #00008B; }
.mc_darkcyan { color: #008B8B; }
.mc_darkgoldenrod { color: #B8860B; }
.mc_darkgray { color: #A9A9A9; }
.mc_darkgrey { color: #A9A9A9; }
.mc_darkgreen { color: #006400; }
.mc_darkkhaki { color: #BDB76B; }
.mc_darkmagenta { color: #8B008B; }
.mc_darkolivegreen { color: #556B2F; }
.mc_darkorange { color: #FF8C00; }
.mc_darkorchid { color: #9932CC; }
.mc_darkred { color: #8B0000; }
.mc_darksalmon { color: #E9967A; }
.mc_darkseagreen { color: #8FBC8F; }
.mc_darkslateblue { color: #483D8B; }
.mc_darkslategray { color: #2F4F4F; }
.mc_darkslategrey { color: #2F4F4F; }
.mc_darkturquoise { color: #00CED1; }
.mc_darkviolet { color: #9400D3; }
.mc_deeppink { color: #FF1493; }
.mc_deepskyblue { color: #00BFFF; }
.mc_dimgray { color: #696969; }
.mc_dimgrey { color: #696969; }
.mc_dodgerblue { color: #1E90FF; }
.mc_exalted { color: #CCCCCD; }
.mc_firebrick { color: #B22222; }
.mc_floralwhite { color: #FFFAF0; }
.mc_forestgreen { color: #228B22; }
.mc_frozen { color: #4983B3; }
.mc_fuchsia { color: #FF00FF; }
.mc_fullblue { color: #0000FF; }
.mc_fullred { color: #FF0000; }
.mc_gainsboro { color: #DCDCDC; }
.mc_genuine { color: #4D7455; }
.mc_ghostwhite { color: #F8F8FF; }
.mc_gold { color: #FFD700; }
.mc_goldenrod { color: #DAA520; }
.mc_gray { color: #CCCCCC; }
.mc_grey { color: #CCCCCC; }
.mc_green { color: #3EFF3E; }
.mc_greenyellow { color: #ADFF2F; }
.mc_haunted { color: #38F3AB; }
.mc_honeydew { color: #F0FFF0; }
.mc_hotpink { color: #FF69B4; }
.mc_immortal { color: #E4AE33; }
.mc_indianred { color: #CD5C5C; }
.mc_indigo { color: #4B0082; }
.mc_ivory { color: #FFFFF0; }
.mc_khaki { color: #F0E68C; }
.mc_lavender { color: #E6E6FA; }
.mc_lavenderblush { color: #FFF0F5; }
.mc_lawngreen { color: #7CFC00; }
.mc_legendary { color: #D32CE6; }
.mc_lemonchiffon { color: #FFFACD; }
.mc_lightblue { color: #ADD8E6; }
.mc_lightcoral { color: #F08080; }
.mc_lightcyan { color: #E0FFFF; }
.mc_lightgoldenrodyellow { color: #FAFAD2; }
.mc_lightgray { color: #D3D3D3; }
.mc_lightgrey { color: #D3D3D3; }
.mc_lightgreen { color: #99FF99; }
.mc_lightpink { color: #FFB6C1; }
.mc_lightsalmon { color: #FFA07A; }
.mc_lightseagreen { color: #20B2AA; }
.mc_lightskyblue { color: #87CEFA; }
.mc_lightslategray { color: #778899; }
.mc_lightslategrey { color: #778899; }
.mc_lightsteelblue { color: #B0C4DE; }
.mc_lightyellow { color: #FFFFE0; }
.mc_lime { color: #00FF00; }
.mc_limegreen { color: #32CD32; }
.mc_linen { color: #FAF0E6; }
.mc_magenta { color: #FF00FF; }
.mc_maroon { color: #800000; }
.mc_mediumaquamarine { color: #66CDAA; }
.mc_mediumblue { color: #0000CD; }
.mc_mediumorchid { color: #BA55D3; }
.mc_mediumpurple { color: #9370D8; }
.mc_mediumseagreen { color: #3CB371; }
.mc_mediumslateblue { color: #7B68EE; }
.mc_mediumspringgreen { color: #00FA9A; }
.mc_mediumturquoise { color: #48D1CC; }
.mc_mediumvioletred { color: #C71585; }
.mc_midnightblue { color: #191970; }
.mc_mintcream { color: #F5FFFA; }
.mc_mistyrose { color: #FFE4E1; }
.mc_moccasin { color: #FFE4B5; }
.mc_mythical { color: #8847FF; }
.mc_navajowhite { color: #FFDEAD; }
.mc_navy { color: #000080; }
.mc_normal { color: #B2B2B2; }
.mc_oldlace { color: #FDF5E6; }
.mc_olive { color: #9EC34F; }
.mc_olivedrab { color: #6B8E23; }
.mc_orange { color: #FFA500; }
.mc_orangered { color: #FF4500; }
.mc_orchid { color: #DA70D6; }
.mc_palegoldenrod { color: #EEE8AA; }
.mc_palegreen { color: #98FB98; }
.mc_paleturquoise { color: #AFEEEE; }
.mc_palevioletred { color: #D87093; }
.mc_papayawhip { color: #FFEFD5; }
.mc_peachpuff { color: #FFDAB9; }
.mc_peru { color: #CD853F; }
.mc_pink { color: #FFC0CB; }
.mc_plum { color: #DDA0DD; }
.mc_powderblue { color: #B0E0E6; }
.mc_purple { color: #800080; }
.mc_rare { color: #4B69FF; }
.mc_red { color: #FF4040; }
.mc_rosybrown { color: #BC8F8F; }
.mc_royalblue { color: #4169E1; }
.mc_saddlebrown { color: #8B4513; }
.mc_salmon { color: #FA8072; }
.mc_sandybrown { color: #F4A460; }
.mc_seagreen { color: #2E8B57; }
.mc_seashell { color: #FFF5EE; }
.mc_selfmade { color: #70B04A; }
.mc_sienna { color: #A0522D; }
.mc_silver { color: #C0C0C0; }
.mc_skyblue { color: #87CEEB; }
.mc_slateblue { color: #6A5ACD; }
.mc_slategray { color: #708090; }
.mc_slategrey { color: #708090; }
.mc_snow { color: #FFFAFA; }
.mc_springgreen { color: #00FF7F; }
.mc_steelblue { color: #4682B4; }
.mc_strange { color: #CF6A32; }
.mc_tan { color: #D2B48C; }
.mc_teal { color: #008080; }
.mc_thistle { color: #D8BFD8; }
.mc_tomato { color: #FF6347; }
.mc_turquoise { color: #40E0D0; }
.mc_uncommon { color: #B0C3D9; }
.mc_unique { color: #FFD700; }
.mc_unusual { color: #8650AC; }
.mc_valve { color: #A50F79; }
.mc_vintage { color: #476291; }
.mc_violet { color: #EE82EE; }
.mc_wheat { color: #F5DEB3; }
.mc_white { color: #FFFFFF; }
.mc_whitesmoke { color: #F5F5F5; }
.mc_yellow { color: #FFFF00; }
.mc_yellowgreen { color: #9ACD32; }
/* custom colors in zr code */
.mc_redsunfirst { color: #F78C56; }
.mc_redsunsecond { color: #EEA953; }

span[class^='mc_']{ /* readability */
    text-shadow:
   -1px -1px 0 #555,  
    1px -1px 0 #555,
    -1px 1px 0 #555,
     1px 1px 0 #555;
}