/* music player */
.music_bg {
    margin-top: 2em;
    margin-right: 2em;
    padding: 1em;    
    background-color: var(--bg-dark);
    border: 1px #ccc8c1 solid;

    position: fixed;
    right: 0%;
    top: 0%;

    display:flex;
    flex-wrap:wrap;
    max-width: min-content;

    transition: 1s;
}