@import url("style.css");
@import url("musicmodal.css"); 

/* NPCs (same as items but without the filter stuff) */

summary {
    margin-bottom: .5em;
    margin-top: .5em;
    font-weight: 500;
    font-family: "Oswald";
    display: hidden;
}

details summary { font-size: 2em }
details details summary { font-size: 1.5em }
details details details summary { font-size: 1em }
details details details details summary { font-size: .5em }

/* Item Previews */
.hover {
    display: table;
    position: relative;
    color: var(--link-dark);
    text-decoration: none;
    cursor: pointer;
}

.hover img {
    width: 16px;
}

.hover:hover, .hover:focus {
    color: hsl(from var(--link-dark) h s 80%);
}

.tooltip {
  z-index: 1;
  height: max-content;
  width: max-content;
  top: 90%;
  left: 0;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  transition: 0.25s;
  pointer-events: none;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: var(--bg-light);
  color: var(--deep-space-blue);
  text-align: left;
}

.hover:hover .tooltip, .hover:focus .tooltip {
    opacity:1;
    top: 100%;
}

.hover:focus .tooltip {
    pointer-events: all;
    cursor:auto;
}

@media screen and (max-width: 700px) {
    .tooltip {
        width: min-content; /* TODO properly size this */
    }
}

/* Audio */
#music_title {
    text-transform: capitalize;    
}

.audio {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left:-20px;
    cursor: pointer;
    width:fit-content;
}

.audio img {
    height: 16px;
    width: auto;
    filter: brightness(15%);
    margin-right: 21px;
}

.audio:hover {
    background-color: rgba(255,255,255,0.5);
    color: var(--deep-space-blue);
}

audio {
    margin-top: 10px;
}