@import url("style.css");

/* Skilltree */
canvas {
    border-radius: 5px;
    border-width: 3px;
    border-color: B4B8AB;
    background-color: #3c3c3c;
}

.rightalign {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    height: 25px;
}

.overlay {
    position: relative;
    display: inline;
}

.btnoverlay {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border-width:3px;
    border-color:#282828;
    border-style:solid;

    display:inline;
    margin:0px;
}

.overlaybuttons {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.btncontainer {
    display: flex;
}