@import url("style.css");
/* Wavesets */
.waveset_bg {
    margin-top: 2em;
    /*padding-bottom: 1.5em; */ /* normal */
    padding-bottom: 2.5em; /* adjusted for wave npc count */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: hsl(from var(--bg-dark) h s 25%);
    border-radius: 5px;
    /*align-items: center; */ /* align vertically */
}

#wave_progress_bar {
    width: 80%;
    height: 25px;
    background: var(--ivory);
    border-radius: 5px;
    border-color: var(--deep-space-blue);
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    margin: 5px;
}

#wave_progress_bar div {
    background: var(--link-dark);
    margin-left: 2px;
    margin-right: 2px;
    width: 0%; /* 2.5% => Wave 1 (1/40 * 100) */
    height: 85%;
    border-radius: 5px 0px 0px 5px;
    z-index: 1;
    transition: 0.5s;
}

#wave_embed_link {
    margin-left: 1em;
    width: 16px;
    opacity: 0.5;
}

#wave_embed_link:hover {
    opacity: 0.75;
}

.wave_btn {
    font-family: "Oswald";
    background-color: var(--bg-light);
    color: var(--deep-space-blue);
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    height: 15px;
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
}

.wave_btn:hover {
    background-color: hsl(from var(--bg-light) h s 50%);
}

.wave_npc {
    width: 48px;
    height: 48px;
    background-color: var(--ivory);
    border-radius: 5px;

    margin: 5px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    word-wrap:normal;
}

.wave_npc img {
    width: 90%;
    height: 90%;
}

.divider {
    width: 3px;
    background-color: var(--ivory);
    border-radius: 5px;
    margin: 5px;
}

#npc_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
}

#support_npc_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* this is the cause of the bandaid fix below, I couldn't find any other way to fix it */
     /* TODO if support npc is a single one this goes over the divider */
}

#wave_music_container {
    margin-top: 25px;
    margin-bottom: 15px;
}

.flex_break {
    flex-basis: 100%;
}

.tooltip {
  z-index: 1;
  width: max-content;
  max-width: 400px;
  top: 110%;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  transition: 0.25s;
  pointer-events: none;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: var(--bg-light);
  color: var(--deep-space-blue);
  text-align: center;
}

.tooltip .music {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip .music img, .audio img {
    height: 16px;
    width: auto;
    margin-right:5px;
}

.wave_npc:hover .tooltip, .wave_npc:focus .tooltip {
    opacity:1;
    top: 125%;
}

.wave_npc_count {
    position: absolute;
    top: 48px;
    margin-top: 1px;
}

/* css flags (flashing background, red bg, etc.) */
@keyframes blink {
    0%,
    100% {
        background-color: #cb2402;
    }

    50% {
        background-color: var(--ivory);
    }
}
.flag_mission { /* basically unused, I think this is for random events */
    animation: blink 1s infinite;
    animation-timing-function: step-end
}
.flag_miniboss {
    background-color: #cb2402;
}
.flag_crits {
    outline-width: 2px;
    outline-color: #2699ad;
    outline-style:solid;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number] {
    margin-left: 5px;
    field-sizing: content;
    border: 0px;
    
    /* .btn styling */
    background-color: hsl(from var(--bg-dark) h s 25%);
    color: var(--text-dark);
    user-select: none;
    cursor: pointer;

    /* font */
    font-size: 1em;
    font-weight: 500;
    font-family: "Oswald";

    /* center number */
    text-align: center;
}

@media screen and (max-width: 700px) {
    .tooltip {
        width: min-content; /* TODO properly size this */
    }
}

/* Audio */
.audio {
    display: flex;
    align-items: center;
    padding: 5px;
    pointer-events:all;
    cursor: pointer;
}

.audio:hover {
    background-color: rgba(255,255,255,0.5);
    color: var(--ivory);
}

audio {
    margin-top: 10px;
}