<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/items.css">
        <script src="static/items.js" defer></script>
        <title>ZR Encyclopedia - Items</title>
    </head>
    <body>
        <i><a href="/TF2-Zombie-Riot/">Back to home</a></i>
        <div id="taglist">
            <div class="btn btn-active" tabindex="0" onclick="filter_set_tag('All');">All</div>
            gtags
        </div>
        <div style="display:flex;">
            <div id="pap_toggle" class="setting">
                <input type="checkbox" onchange="filter_set_pap(this)" autocomplete="off">
                <label style="margin-left:1em;">Show weapon enhancements</label>
            </div>
            <div id="cfg_hidden_toggle" class="setting">
                <input type="checkbox" onchange="filter_set_cfghidden(this)" autocomplete="off">
                <label style="margin-left:1em;">Show hidden weapons</label>
            </div>
        </div>
        <div id="item_filter" class="setting">
            <input type="search" id="item_filter_input">
        </div>
        itemdata
    </body>
</html>